@model ASPMVCTaller.Models.DatosTrabajador


@{
    ViewBag.Title = "Formulario para capturar los datos del trabajador";
}
<!-- ********************************************************* -->
<!-- ********************************************************* -->
<!-- ********************************************************* -->
<script type="text/javascript" language="JavaScript">
    function validarEnvio() {
        var confirmacion = confirm("¿Desea almacenar los datos? (S/N)");

        if (confirmacion == true) {
            return (true);
        }
        else {
            alert("Se canceló el envío");
            return (false);
        }
    }
</script>
<div id="formularioCreacion" style="padding:20px;">
    <h2>FORMULARIO DE REGISTRO DE NOTAS PARA ESTUDIANTES</h2>
    <br />
    <br />
    <form id="formularioNotas" name="formularioNotas"
          method="post" action="ProcesarFormularioEstudiante" onsubmit="return validarEnvio();">
        <table id="tablaNotas" border="1" style="width:100%" cellpadding="10">
            <tr>
                <td style="width: 143px">
                    <label id="lbl_Nombre">Nombre Estudiante:</label>
                </td>
                <td>
                    <input type="text" id="txt_Nombre" name="txt_Nombre"
                           size="40" placeholder="Digite el nombre del Estudiante" />
                </td>
            </tr>
            <tr>
                <td style="width: 143px">
                    <label id="lbl_Apellido">Apellido Estudiante:</label>
                </td>
                <td>
                    <input type="text" id="txt_Apellido" name="txt_Apellido"
                           size="40" placeholder="Digite el apellido del Estudiante" />
                </td>
            </tr>
            <tr>
                <td style="width: 143px">
                    <label id="lbl_Nota1">Valor nota 1</label>
                </td>
                <td>
                    <input type="text" id="txt_Nota1" name="txt_Nota1"
                           placeholder="Digite Valor nota 1" size="40" />
                </td>
            </tr>
            <tr>
                <td style="width: 143px">
                    <label id="lbl_Nota2">Valor nota 2</label>
                </td>
                <td>
                    <input type="text" id="txt_Nota2" name="txt_Nota2"
                           placeholder="Digite Valor nota 2" size="40" />
                </td>
            </tr>
            <tr>
                <td style="width: 143px">
                    <label id="lbl_Nota3">Valor nota 3</label>
                </td>
                <td>
                    <input type="text" id="txt_Nota3" name="txt_Nota3"
                           placeholder="Digite Valor nota 3" size="40" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" id="botonEnviar" name="botonEnviar" value="Registrar Notas" />
                    &nbsp;&nbsp;
                    <input type="reset" id="botonReestablecer" name="botonReestablecer" value="Reestablecer" />
                </td>
            </tr>
        </table>
    </form>
</div>



