@{
    ViewBag.Title = "Datos de Contacto";
}
<center><h2>@ViewBag.Title.</h2></center>
<br /><br />

<table id="tablaNotas" border="0" style="width:60%" cellpadding="30" align="center">
    <tr>
        <td align="center">
            <address>
                Angel Felipe Aldana Sakgado<br />
                Estudiante de Ingeniería de Sistemas<br />
                Universidad EAN<br />
            </address>
        </td>
        <td align="center">
            <address>
                <strong>Email:</strong>   <a href="aaldana83030@universidadean.edu.co">aaldana83030@universidadean.edu.co</a><br />
            </address>
        </td>
    </tr>
    <tr>
        <td align="center">
            <address>
                Daniel Alejandro Costa Lineros<br />
                Estudiante de Ingeniería de Sistemas<br />
                Universidad EAN<br />
            </address>
        </td>
        <td align="center">
            <address>
                <strong>Email:</strong>   <a href="dcostal34621@universidadean.edu.co">dcostal34621@universidadean.edu.co</a><br />
            </address>
        </td>
    </tr>
</table>
<br />
<div>
    <center><h4>@Html.ActionLink("Regresar a la Página Principal", "Index", "Home")</h4></center>
</div>



