@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <center><h1>Microsoft ASP.NET MVC</h1></center>
    <center><img src="~/Imagenes/LogoHome.jpg"></center>
    <br />
    <p align="justify">
        ASP.NET MVC es el “nuevo” framework que ha sacado Microsoft para desarrollar
        aplicaciones web, usando tecnología .NET.  Lo de nuevo entre comillas, viene
        porque la primera versión salió, aproximadamente, a mediados del 2009 y ya
        sabemos que en este mundo, casi dos años son una eternidad. De hecho, actualmente
        el framework ya va por su quinta versión.  ASP.NET MVC 5.0 permite el desarrollo
        de aplicaciones web usando .NET Framework 4.6 y Visual Studio 2017.  
    </p>
    <p align="justify">
        ASP.NET MVC está construido usando ASP.NET. Todos los aspectos transversales de ASP.NET
        (autenticación, cache, sesión, roles,) siguen siendo los mismos en ASP.NET MVC.
        Si a algo puede sustituir ASP.NET MVC es a Webforms, es decir a las páginas .aspx.
        Pero Microsoft ya ha anunciado que esto no sucederá: ambos frameworks
        (ASP.NET MVC y Webforms) se seguirán evolucionando.
    </p>
    <p>
        <a href="https://docs.microsoft.com/es-es/aspnet/mvc/overview/getting-started/introduction/getting-started"
           class="btn btn-primary btn-lg">Aprender mas acerca de MVC5</a>
    </p>
</div>

